.home-page {
  .text-area {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 90%;
    max-width: 500px;
    transform: translateY(-60%);
    max-height: 90%;
    z-index: 2;
  }

  // .alert {
  //   margin-right: 10%;
  //   text-align: right;
  //   color: #c9ddd3;
  //   z-index: 4;
  // }
}
