.navigation {
  background: rgb(11, 37, 39);
  width: 60px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 2px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 80%;
      height: auto;
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -140px;
    width: 100%;
    a {
      font-size: 22px;
      display: block;
      line-height: 50px;
      height: 50px;
      position: relative;
      text-decoration: none;

      svg {
        transition: color 0.2s ease-out;
      }
      &:hover {
        svg {
          color: #f9d4db;
        }
      }
    }

    a.active {
      svg {
        color: #f9c6cf;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 20px;

        &:hover {
          svg {
            color: #aedcd7;
          }
        }
      }
    }
  }
}
