// highlights
$highlight-1: #f299a9; // .highlighted 
$highlight-2: #f9c6cf; // .highlighted-2 

// Neutrals
$text: #fff9f9; // near-white body text

// backgrounds & surfaces
$bg: rgb(28, 68, 64); // page background
$surface: #38635b; // project card surface
$surface-muted: #60837f; // nav icons / muted surface
$sidebar-bg: rgb(11, 37, 39); // sidebar background
