html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 "Montserrat", sans-serif;
  color: #fff9f9;
  background: rgb(28, 68, 64);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}
